<div>
  <div>
    <h4>Список заказов</h4>
  </div>
  <div>
    <p-table [value]="orders">
      <ng-template pTemplate="header">
        <tr>
          <th *ngFor="let col of cols">
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-order>
        <tr>
          <td *ngFor="let col of cols">
            <ng-container *ngIf="col.field !== 'birthDay'; else dateTemplate">
              {{ order[col.field] }}
            </ng-container>
            <ng-template #dateTemplate>
              {{ formatBirthDay(order[col.field]) }}
            </ng-template>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
